body{
    width: auto;
    height: auto;
    font-family: 'Pretendard' , sans-serif;
    font-weight: 700;
    color: #000;
    background: #fff;
}
.block{
    display: block;    
}
.pc{
    position:relative;
    top:0;
    width:100%;height:100%;
    transition: 0.5s;
}
.section{
    width:100%;height:100vh;
}
.wrap{
    max-width: 1600px;
    margin: 0 auto;
}
.line{
    line-height: 1.4;
}
.t1{
    font-size: 42px;
    font-weight: bold;
}