footer {  
  height: auto;
  margin-bottom: 4%;
  background-color: #f9f9f9;
  padding: 20px 0;
}
footer .wrap{
  max-width: 1300px;
}
footer .wrap h2 {
  font-weight: bolder;
  font-size: 25px;
  margin-bottom: 2%;
}
footer .wrap h2 span {
  
}
footer .wrap .shortcut {
  position: relative;
}
footer .wrap .shortcut a {
  background: gray;
  padding: 14px;
  color: white;
  border-radius: 10px;
  font-size: 13px;
  transition: 0.3s;
  position: absolute;
  right: 10px;
  top: -60px;
}
footer .wrap .shortcut a:hover{
  background: black
}
footer .wrap .shortcut a::after{
  content: "";
  padding: 10px;
  background-image: url(../img/png/footer_open.png);
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 5px;
}
footer address {  
  color: gray;
}
footer address p {  
  font-size: 12px;
  line-height: 25px;
  font-weight: 700;
  font-style: initial;
}
footer address p span{
  margin-right: 10px;
}
footer address p span span{
  margin-right: 10px;
}
footer address .en {  
  font-size: 14px;
  line-height: 40px;
}
footer .wrap .li{  
  display: flex;
  align-items: center;
}
footer .conditions {
  display: inline-block;
  font-size: 14px;
}
footer .conditions a {
  color: gray;
  line-height: 5;
  transition: 0.3s;
}
footer .conditions a:hover:nth-child(1){
  color: #117ce9;
}
footer .conditions a:nth-last-child(1) {
  text-decoration: underline;
  color: black;
  margin-left: 20px;
}
footer .wrap .sns {
  display: inline-block;
  font-size: 14px;
  margin-left: 80px;
}
footer .wrap .sns li {
  display: inline-block;
}
footer .wrap .sns li a {  
  color: gray;
  margin-right: 30px;
  transition: 0.3s;
}
footer .wrap .sns li a:hover{
  color: #117ce9;
}