.navColor{
  background-color: white;
}
header {
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: transparent;
  transition: 0.3s;
}
header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
header nav div.nav{
  display: flex;
  justify-content: space-between;
  width: 1500px;
}
header nav div.nav h1 {
  font-weight: bolder;
}
header nav div.nav h1 a {
  color: white;
  font-size: 25px;
  line-height: 2;
}
.navColor nav div.nav h1 a{
  color: black;
}
header nav div.nav ul {
  display: flex;
  gap: 30px;
  align-items: center;
}
header nav ul {
  margin-left: 70px;
}
header nav ul li {
  
}
header nav ul li a {
  color: white;
}
header nav ul.gnb {

}
header nav ul.gnb li {
  padding: 0px 5px;
}
header nav ul.gnb li:nth-of-type(n+4) {
  padding: 0;
}
header nav ul.gnb li a {
  transition: 0.3s;
}
header nav ul.gnb li:nth-of-type(n+4) a{
  line-height: 2;
}
header nav ul.gnb li a i{
  display: inline-block;
  width: 24px;
  height: 24px;
  transition: 0.3s;
  opacity: 0;
  text-indent: -9999px;
}
header nav ul.gnb li a:hover i{
  background-image: url('../img/png/outlink_icon.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
  line-height: 1.4;
}
.navColor nav ul.gnb li a{
  color: darkgrey;
}
header nav ul.gnb li a:hover {
  color: #117ce9;
}
header nav ul.enb {

}
header nav ul.enb li {
  background-image: url(../img/png/global_icon_w.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.navColor nav ul.enb li {
  background-image: url(../img/png/global_icon_b.png);
}
header nav ul.enb li:hover {
  background-image: url(../img/png/global_icon_g.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
header nav ul.enb li a {
  font-size: 0;
  display: block;
  width: 24px;
  height: 24px;
}