main{    
  height: auto;
  min-height: 100vh;
}
/* 리포트영역 */
#report {  
}
#report .wrap {  
  text-align: center;
}
#report .wrap h2 {  
  text-align: center;
  padding-top: 5%;
  color: #aaa;
  display: inline-block;
  margin: 5%;
}
#report .wrap h2 span {  
  color: #222;
}
#report .wrap h2 a {
  background-color: black;
  display: inline-block;
  margin: 6%;
  padding: 20px 40px;
  font-size: 15px;
  border-radius: 50px;
  color: white;
  transition: 0.3s;
}
#report .wrap h2 a:hover {  
  background-color: #117ce9;
}
#report .wrap h2::after {
    content: "";
    background-image: url(../img/png/hyperscale_ai.png);
    display: inline-block;
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 800px;
    margin-top: 100px;
}
/* 서비스영역 */
#service {
  background-color: #f9f9f9;
}
#service .wrap {
  max-width: 1300px;
  height: 100%;
  display: flex;
  align-items: center;
  column-gap: 10%;
}
#service .wrap .leftbox{}
#service .wrap .leftbox h2{
  color: #aaa;
}
#service .wrap .leftbox h2 span{
  color: black;
}
#service .wrap .leftbox h2 span:nth-of-type(1){
  color: #aaa;
}
#service .wrap .leftbox h2 span span{
  color: #aaa;
}
#service .wrap .leftbox a {
  display: inline-block;
  background-color: black;
  margin: 10%;
  padding: 20px 40px;
  border-radius: 40px;
  color: white;
  margin-left: 0;
  transition: 0.3s;
}
#service .wrap .leftbox a:hover{  
  background: #117ce9;
}
#service .wrap .rightbox{
  position: relative;
  top: 0;
  right: 0;
  width: 60%;
  height: 100%;
  overflow: hidden;
}
#service .wrap .rightbox ul.left{
  position: absolute;
  top: 0;
  right: 220px;
  width: 25%;
  animation-name: slide;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
#service .wrap .rightbox ul.left li{
  margin-top: 20px;
}
#service .wrap .rightbox ul.left li .slide{  
  width: 100%;
  border-radius: 24px;
}
#service .wrap .rightbox ul.right{  
  position: absolute;
  top: -80px;
  right: 0px;
  width: 25%;
  animation-name: slide;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
#service .wrap .rightbox ul.right li{
  margin-top: 20px;
}
#service .wrap .rightbox ul.right li .slide{  
  width: 100%;
  border-radius: 24px;
}
@keyframes slide{
  0%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(-66%);
  }
}
/* 소식영역 */
#news{
  padding-top: 120px;
}
#news .wrap{
  max-width: 1300px;
}
#news .wrap h2{
  margin-bottom: 3%;
  color: gray;
}
#news .wrap h2 span{  
  color: black;
}
#news .wrap .top{
  display: flex;
  gap: 20px;
}
#news .wrap .top li{
  
}
#news .wrap .top li a{

}
#news .wrap .top li a .box{
  
}
#news .wrap .top li a .box:hover{  
  background: white;
}
#news .wrap .top li a .box p{  
  margin: 20px 0;
  font-size: 18px;
  color: black;
  transition: 0.3s;
  word-break: keep-all;
}
#news .wrap .top li a .box:hover p{
  color: #117ce9;
}
#news .wrap .top li a .box span{  
  font-size: 15px;
  color: gray;
}
#news .wrap .top li a .box img{  
  border-radius: 24px;
}
#news .wrap > a{  
  display: block;
  text-align: center;
  margin: 6% 42%;
  padding: 20px 40px;
  border: 1px solid;
  border-radius: 40px;
  color: black;
  transition: 0.3s;
  white-space: nowrap;
  font-size: 15px;
}
#news .wrap > a:hover{  
  color: white;
  background: #117ce9;
}
#news .wrap .bottom{
  display: flex;
  gap: 2%;
}
#news .wrap .bottom li{  
  background: #117ce9;
  width: calc(50% - 16px);
  padding: 2%;
  border-radius: 15px;
  position: relative;
}
#news .wrap .bottom li:nth-child(2){  
  background-color: #07b4eb;
}
#news .wrap .bottom li h3{  
  margin-bottom: 2%;
  color: white;
  font-weight: bold;
}
#news .wrap .bottom li p{  
  color: white;
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
}
#news .wrap .bottom li a{
  position: absolute;
  display: inline-block;
  text-align: center;
  right: 29px;
  bottom: 27px;
  padding: 18px 33px;
  background-color: black;
  border-radius: 40px;
  color: white;
  transition: 0.3s;
}
#news .wrap .bottom li a:hover{
  background: white;
  color: black;
}
#news .wrap .bottom li p span{
  
}