@media screen and (max-width: 1200px){
/*  ham  */
  .ham{
    display: flex;
  }
/*   header   */
  header nav{    
    padding: 0 30px;
    height: 70px;
  }
  header nav div.nav{
    width: 100%;
  }
  header nav div.nav h1 a{    
    font-size: calc(25px * 0.9);
  }
  header nav div.nav ul{
    display: none;
  }
  header nav ul.enb{    
    margin: 0 10px;
  }
/*  title  */
  #title .wrap h2{
    padding: 20px 30px;
  }
  #title .wrap a{    
    margin: 0 30px;
  }
  #title .video video{
    object-fit: cover;
    height: 100vh;
  }
/*  service  */
  #service .wrap{
    padding: 0 30px;
  }
/*  news  */
  #news .wrap{    
    padding: 0 30px;
  }
  #news .wrap .top{
    flex-wrap: wrap;
  }
  #news .wrap .top li{    
    display: flex;
    width: calc(25% - 15px);
  }
  #news .wrap > a{
    font-size: calc(15px * 0.85);
    margin: 30px auto;
    width: 100px;
  }
  #news .wrap .bottom li{
    height: 150px;
  }
  #news .wrap .bottom li a{
    right: initial;
    bottom: 20px;
    padding: 15px 20px;
  }
  #news .wrap .bottom li a::after{
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(../img/png/mo_link_diag.png);
    background-size: contain;
    background-position: center;
    margin: 0 0 0 10px;
  }
/*  footer  */
  footer .wrap{
    padding: 0 50px;
  }
  footer .wrap .affiliated a{
    top: -50px;
  }
  footer .sns a{
    margin-right: 20px;
  }
  footer .conditions{
    width: 35%;
  }
}
@media screen and (max-width: 768px){
/* common */
  .t1{
    font-size: calc(42px * 0.55);
    word-break: keep-all;
  }
/* title */
  #title .wrap h2{
    font-size: calc(50px * 0.7); 
    word-break: keep-all;
  }
/*  report  */
  #report .wrap h2 a{
    padding: 15px 30px;
    font-size: calc(15px * 0.8);
  }
  #report .wrap h2::after{    
    background-image: url(../img/png/mo_hyperscale_ai.png);
    background-size: contain;
    height: 300px;
    margin-top: 30px;
  }
/*  service  */
  #service .wrap{
    padding: 0 20px;
    height: auto;
    display: block;
  }
  #service .wrap .leftbox{    
    padding: 0;
    width: 100%;
  }
  #service .wrap .leftbox a{    
    padding: 15px 30px;
    font-size: calc(16px * 0.8);
  }
  #service .wrap .rightbox{    
    float: none;
    display: inline-block;
    width: 100%;
    height: auto;
  }
  #service .wrap .rightbox ul.left{    
    display: flex;
    margin-right: initial;
    width: 100%;
  }
  #service .wrap .rightbox ul.left li{    
  }
  #service .wrap .rightbox ul.left li .pc{    
    display: block;
  }
  #service .wrap .rightbox ul.right{    
    display: flex;
    width: 100%;
  }
  #service .wrap .rightbox ul.right li{    
  }
/*  news  */
  #news .wrap > a{    
    padding: 12px 17px;
    font-size: calc(15px * 0.8);
  }
  #news .wrap .bottom li a{    
    position: initial;
    margin: 20px 0 0;
    padding: 12px 20px;
    font-size: calc(16px * 0.8);
  }
  #news .wrap .top li{    
    width: 100%;
  }
  #news .wrap .top li a .box{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    column-gap: 30px;
  }
  #news .wrap .top li a .box img{    
    grid-column: 1;
    grid-row: 1 / span 2;
  }
  #news .wrap .top li a .box p{
    margin: 12% 0;
    font-size: calc(18px * 0.8);
    grid-column: 2;
    grid-row: 1;
  }
  #news .wrap .top li a .box span{    
    font-size: calc(15px * 0.9);
    grid-column: 2;
    grid-row: 2;
  }
  #news .wrap .bottom{
    display: block;
  }
  #news .wrap .bottom li{
    width: auto;
    padding: 20px 10%;
    margin-bottom: 15px;
  }
  #news .wrap .bottom li h3{
    margin-bottom: 7%;
  }
/*  footer  */
  footer .wrap .affiliated a{
    padding: calc(14px * 0.8);
    font-size: calc(13px * 0.8);
    top: -35px;
  }
  footer .wrap .li{
    display: block;
  }
  footer .conditions{
    font-size: calc(14px * 0.8);
    width: 100%;
  }
  footer .conditions a{
    padding-right: 10px; 
  }
  footer .conditions a::after{
    display: inline-block;
    content: "";
    background-image: url(../img/png/mo_right_arrow.png);
    background-size: contain;
    background-position: center;
    width: 15px;
    height: 15px;
  }
  footer .sns{
    font-size: calc(14px * 0.8);
  }
}